
<!-- Footer widgets section -->
<section class="bottom-widgets-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ftw-warp">
        <div class="section-title">
          <h3>Low Carb</h3>
        </div>
        <ul class="sp-recipes-list">
          <li >
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Italian pasta</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>

          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Onion Soup Gratinee</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
          <li>

            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>



            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Feta Cheese Burgers</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 ftw-warp">
        <div class="section-title">
          <h3>High Protein</h3>
        </div>
        <ul class="sp-recipes-list">
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Traditional Food</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Baked Salmon</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Deep Fried Fish</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="col-lg-4 col-md-6 ftw-warp">
        <div class="section-title">
          <h3>Low Calories</h3>
        </div>
        <ul class="sp-recipes-list">
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Traditional Food</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Baked Salmon</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>
          <li>
            <%= image_tag 'img/thumb/4.jpg', class: 'rl-thumb set-bg', title: 'my caption' %>
            <div class="rl-info">
              <span>March 14, 2018</span>
              <h6>Deep Fried Fish</h6>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star is-fade"></i>
              </div>
            </div>
          </li>

        </ul>
      </div>


    </div>
  </div>
</section>
<!-- Footer widgets section end -->
