<%= form_for(@direction) do |f| %>
  <% if @direction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@direction.errors.count, "error") %> prohibited this direction from being saved:</h2>

      <ul>
      <% @direction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :optimization_id %><br>
    <%= f.number_field :optimization_id %>
  </div>
  <div class="field">
    <%= f.label :from %><br>
    <%= f.number_field :from %>
  </div>
  <div class="field">
    <%= f.label :to %><br>
    <%= f.number_field :to %>
  </div>
  <div class="field">
    <%= f.label :by %><br>
    <%= f.number_field :by %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
