
<h1>Geschäfte</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-editable="name" data-field="name" data-sortable="true">Name</th>
    <th data-field="adresse" data-sortable="true">Adresse</th>
    <th data-field="concept" data-sortable="true">Konzept</th>
    <th data-field="n1" data-sortable="false"></th>
    <th data-field="n2" data-sortable="false"></th>
    <th data-field="n3" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %> </td>
        <td><%= store.name %> </td>
        <td><%= store.zip %> <%= store.city %> <br> <%= store.street %></td>
        <td><%= concept_to_text(store.concept) %> </td>
        <td><%= link_to 'Anzeigen', store %></td>
        <td><%= link_to 'Bearbeiten', edit_store_path(store) %></td>
        <td><%= link_to 'Löschen', demoversion_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>




<%= link_to new_store_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neues Geschäft anlegen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>
