
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">

      <div class="box" style="text-align: center; display: inline">
            <div class="box-icon" style="height: 220px; width: 220px"> <span class="fa fa-5x fa-industry"></span> </div>


        <div class="info">
          <h4 class="text-center">     </h4>
        </div>
      </div>



    </div>


    <div class="col-xs-7" style="border:0px solid gray; border-left:1px solid #9b9b9b;">
      <!-- Datos del vendedor y titulo del producto -->
      <h1> <%= @store.name %> </h1>
      <h5></h5>


      <h6 class="title-price" style="margin-bottom:15px;" ></h6>




      <div class="section" style="padding-bottom:20px;">
        <h3 style="margin-top:15px;">Allgemeine Daten </h3>
        <h4 style="margin-top:15px;">Adresse: <br> <div style="margin-top: 3px"><%= current_customer.zip %> <%= current_customer.city %> <br> <%= current_customer.street %></div></h4>
        <h4 style="margin-top:15px;">Konzept: <%= concept_to_text(@store.concept) %> </h4>
        <h4 style="margin-top:15px;">Fahrer: <%= Driver.where(store_id: @store.id).count %> </h4>
        <h4 style="margin-top:15px;">Produkte: <%= Stock.where("store_id = ? AND stock = ?", @store.id, true).count %> </h4>


      </div>



      <div class="section" style="background: white; margin: 3px"></div>


    </div>



    <div class="col-xs-11" style="margin-bottom: 70px">

      <ul class="menu-items">
        <h3> Fahrer </h3>

      </ul>
      <div style="width:100%;border-top:1px solid silver;">

        <div class="row" style="margin-top: 20px">

      <% Driver.where(store_id: @store.id).each do |driver|  %>

          <div class="col-md-3" style="margin-bottom: 30px">
            <%= link_to driver do %>
                <div class="box" >
                  <div class="box-icon"> <span class="fa fa-3x fa-truck"></span> </div>
                  <div class="info">
                    <h4 class="text-center"><%= driver.name %></h4>
                    <p style="margin-top: -28px"><%= Vehicle.find(driver.vehicle_id).name %></p>
                  </div>
                </div>
            <% end %>
          </div>

          <% end %>

        </div>

      </div>






      <ul class="menu-items">
        <h3> Lagerbestand </h3>


      </ul>
      <div style="width:100%;border-top:1px solid silver;">

        <div class="row" style="margin-top: 20px">




          <div class="table-responsive">
            <table class="table table-striped smalltable">
              <thead>
              <tr>
                <th></th>
                <th>Produkt</th>
                <th>Verfügbarkeit</th>
              </tr>
              </thead>
              <tbody>

              <%
              @products = Stock.where("store_id = ? AND stock = ?", @store.id, true)

                @products.each do |product|

                  myproduct = Product.find(product.product_id)

              %>
                  <tr>
                    <td><%= image_tag myproduct.picture, width: 30 %></td>
                    <td class="tableclassy"><%= link_to myproduct.name, myproduct, class: "linkclass", 'data-turbolinks' => false %></td>
                    <td class="tableclassy"><%= link_to boolean_to_text(product.stock), edit_stock_path(product), class: "linkclass", 'data-turbolinks' => false %></td>
                  </tr>

              <% end %>

              </tbody>

            </table>
          </div>





        </div>



      </div>
    </div>




  </div>
</div>
</div>



