
<%= bootstrap_form_for(@stock, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>



    <h3><%= Store.find(@stock.store_id).name %></h3>
    <h3><%= Product.find(@stock.product_id).name %></h3>

<br>
<br>
    <h3><%= f.check_box :stock, label: "Vorrätig?" %></h3>


    <div style="margin-bottom: 20px"></div>


    <%= f.form_group do %>
        <h1 > <%= f.submit "Abschicken", class: "btn btn-success" %></h1>


    <% end %>

    <div style="margin-bottom: 70px"></div>
<% end %>





