
<h1>Verfügbarkeiten</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="name" data-sortable="true">Produkt</th>
    <% Store.all.each do |store| %>
        <th data-field="store<%= store.id %>" data-sortable="true"><%= store.name %></th>
    <% end %>


  </tr>
  </thead>

  <tbody>

  <% Product.all.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <% Store.all.each do |store| %>
        <td><%= link_to boolean_to_text(Stock.find_by_product_id_and_store_id(product.id, store.id).stock), edit_stock_path(Stock.find_by_product_id_and_store_id(product.id, store.id))  %> </td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


  <%= link_to resetstocks_path, 'data-turbolinks' => false do %>
      <div class="box">
        <div class="box-icon"> <span class="fa fa-3x fa-refresh"></span> </div>
        <div class="info">
          <h4 class="text-center"><%= "Lagerbestände neu setzen" %></h4>
          <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
        </div>
      </div>
  <% end %>

<div style="margin-bottom: 65px"></div>


