<%= form_for(@optimization) do |f| %>
  <% if @optimization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@optimization.errors.count, "error") %> prohibited this optimization from being saved:</h2>

      <ul>
      <% @optimization.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :optimizationtype %><br>
    <%= f.number_field :optimizationtype %>
  </div>
  <div class="field">
    <%= f.label :orders %><br>
    <%= f.text_field :orders %>
  </div>
  <div class="field">
    <%= f.label :drivers %><br>
    <%= f.text_field :drivers %>
  </div>
  <div class="field">
    <%= f.label :totalboxes %><br>
    <%= f.number_field :totalboxes %>
  </div>
  <div class="field">
    <%= f.label :totalcoolingboxes %><br>
    <%= f.number_field :totalcoolingboxes %>
  </div>
  <div class="field">
    <%= f.label :totalfreezingboxes %><br>
    <%= f.number_field :totalfreezingboxes %>
  </div>
  <div class="field">
    <%= f.label :allocation %><br>
    <%= f.text_field :allocation %>
  </div>
  <div class="field">
    <%= f.label :routes %><br>
    <%= f.text_field :routes %>
  </div>
  <div class="field">
    <%= f.label :totaltraveltime %><br>
    <%= f.text_field :totaltraveltime %>
  </div>
  <div class="field">
    <%= f.label :totaldistance %><br>
    <%= f.text_field :totaldistance %>
  </div>
  <div class="field">
    <%= f.label :turnover %><br>
    <%= f.text_field :turnover %>
  </div>
  <div class="field">
    <%= f.label :productcosts %><br>
    <%= f.text_field :productcosts %>
  </div>
  <div class="field">
    <%= f.label :worktimecosts %><br>
    <%= f.text_field :worktimecosts %>
  </div>
  <div class="field">
    <%= f.label :drivingcosts %><br>
    <%= f.text_field :drivingcosts %>
  </div>
  <div class="field">
    <%= f.label :totalcosts %><br>
    <%= f.text_field :totalcosts %>
  </div>
  <div class="field">
    <%= f.label :profit %><br>
    <%= f.text_field :profit %>
  </div>
  <div class="field">
    <%= f.label :useddrivers %><br>
    <%= f.text_field :useddrivers %>
  </div>
  <div class="field">
    <%= f.label :usedstores %><br>
    <%= f.text_field :usedstores %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
