
<h1>Übersicht der Optimierungen</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="created" data-sortable="true">Erstellt am</th>
    <th data-field="type" data-sortable="true">Typ</th>
    <th data-field="orders" data-sortable="true">Bestellungen</th>
    <th data-field="tours" data-sortable="true">Touren</th>
    <th data-field="turnover" data-sortable="true">Umsatz</th>
    <th data-field="profit" data-sortable="true">Profit</th>
    <th data-field="show" data-sortable="false"></th>
    <th data-field="delete" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @optimizations.each do |o| %>
      <tr>
        <td><%= o.id %> </td>
        <td><%= o.name %> </td>
        <td><%= o.created_at.to_time.strftime('%d.%m.%Y (%H:%M)') %> </td>
        <td><%= opttype_to_text(o.optimizationtype) %>
          <% if o.optimizationtype != 1 %>
              <br>
          <%= orderselection_to_text(o.orders) %>
              <br>
              <%= storesselection_to_text(o.stores) %>

        <% end %>
        </td>
        <td><%= o.orderslist.split(",").count %> </td>
        <td><%= Route.where(optimization_id: o.id).count %> </td>
        <td><%= number_to_currency(o.turnover, :unit => "€", format: "%n %u" ) %> </td>
        <td><%= number_to_currency(o.profit, :unit => "€", format: "%n %u" ) %> </td>
        <td><%= link_to 'Anzeigen', o %></td>
        <td><%= link_to 'Löschen', demoversion_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<%= link_to new_optimization_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neue Optimierung durchführen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>





