
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">

      <div class="box" style="text-align: center; display: inline">
        <div class="box-icon" style="height: 220px; width: 220px"> <span class="fa fa-5x fa-gear"></span> </div>


        <div class="info">
          <h4 class="text-center">     </h4>
        </div>
      </div>

    </div>


    <div class="col-xs-7" style="border:0px solid gray; border-left:1px solid #9b9b9b;">
      <!-- Datos del vendedor y titulo del producto -->
      <h1> Optimierung <%= @optimization.id %> </h1>
      <h1> <%= @optimization.name %> </h1>

      <h5>Erstellt am: <%= @optimization.created_at.to_time.strftime('%d.%m.%Y (%H:%M Uhr)') %></h5>


      <h6 class="title-price" style="margin-bottom:15px;" ></h6>




      <div class="section" style="padding-bottom:20px;">
        <h3 style="margin-top:15px;">Allgemeine Daten </h3>
        <h4 style="margin-top:15px;">Typ: <%= opttype_to_text(@optimization.optimizationtype) %> </h4>
        <h4 style="margin-top:15px;">Geschäfstypen: <%= storesselection_to_text(@optimization.stores) %> </h4>
        <h4 style="margin-top:15px;">Bestellungstypen: <%= orderselection_to_text(@optimization.orders) %> </h4>
        <h4 style="margin-top:15px;">Statustypen: <%= orderstatus_to_text(@optimization.statustype) %> </h4>
        <h4 style="margin-top:15px;">Bestellungen: <%= @optimization.orderslist.split(",").count %> </h4>

      </div>

      <div class="section" style="background: white; margin: 3px"></div>


      <div class="section" style="padding-bottom:20px;">
        <h3 style="margin-top:15px;">Streckendaten </h3>
        <h4 style="margin-top:15px;">Distanz: <%= @optimization.totaldistance %> Kilometer</h4>
        <h4 style="margin-top:15px;">Fahrtzeit: <%= @optimization.totaltraveltime %> Minuten</h4>
        <h4 style="margin-top:15px;">Emissionen: <%= @optimization.emissions / 1000 %> Kilogramm</h4>
        <h4 style="margin-top:15px;">Reale-Distanz: <%= @optimization.realtotaldistance %> Kilometer</h4>
        <h4 style="margin-top:15px;">Reale-Emissionen: <%= @optimization.realtotalemissions / 1000 %> Kilogramm</h4>

      </div>

      <div class="section" style="background: white; margin: 3px"></div>

      <% if @optimization.optimizationtype == 3 %>
                <div class="section" style="padding-bottom:20px;">
                  <h3 style="margin-top:15px;">Tourendaten </h3>
                  <h4 style="margin-top:15px;">Touren-Anzahl: <%= Route.where(optimization_id: @optimization.id).count %> </h4>
                  <h4 style="margin-top:15px;">Boxen: <%= @optimization.totalboxes %> </h4>
                  <h4 style="margin-top:15px;">Kühlboxen: <%= @optimization.totalcoolingboxes %> </h4>
                  <h4 style="margin-top:15px;">Tiefkühlboxen : <%= @optimization.totalfreezingboxes %> </h4>
                </div>

                <div class="section" style="background: white; margin: 3px"></div>
      <% end %>

      <div class="table table-striped table-dark" style="max-width: 400px">
        <table class="table table-striped table-dark">
          <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
              <tr>
                <td>Umsatz</td>
                <td><%= number_to_currency(@optimization.turnover , :unit => "€", format: "%n %u" ) %></td>
              </tr>
              <tr>
                <td>Produktkosten</td>
                <td> - <%= number_to_currency(@optimization.productcosts , :unit => "€", format: "%n %u" ) %></td>
              </tr>
              <tr>
                <td>Arbeitszeitkosten</td>
                <td> - <%= number_to_currency(@optimization.worktimecosts , :unit => "€", format: "%n %u" )  %></td>
              </tr>
              <tr>
                <td>Fahrtkosten</td>
                <td> - <%= number_to_currency(@optimization.drivingcosts , :unit => "€", format: "%n %u" )  %></td>
              </tr>


          </tbody>
          <tfoot class="table-dark">
          <tr style="background: #6e6e6e; color: white">
            <td>Gewinn / Verlust </td>
            <td> = <%= number_to_currency(@optimization.profit , :unit => "€", format: "%n %u" ) %></td>
          </tr>
          </tfoot>

        </table>
      </div>







      <div class="section" style="background: white; margin: 30px"></div>





    </div>






  </div>



</div>


<% if @optimization.optimizationtype == 3 or @optimization.optimizationtype == 1 %>

<div class="col-xs-11" style="margin-bottom: 70px">
  <ul class="menu-items">
    <h3> Übersicht aller Touren </h3>


  </ul>
  <div style="width:100%;border-top:1px solid silver;">

    <div class="row" style="margin-top: 20px">




      <div class="table-responsive">
        <table class="table table-striped smalltable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Geschäft</th>
            <th>Fahrer</th>
            <th>Kunden</th>
            <th>Fahrtzeit (min)</th>
            <th>Distanz (km)</th>
            <th>Kosten (€)</th>
            <th></th>

          </tr>
          </thead>
          <tbody>


          <%
            @routes = Route.where(optimization_id: @optimization.id)
            @routes.each do |route|
          %>

              <tr>
                <td><%= route.id %></td>
                <td><%= link_to Store.find(Driver.find(route.driver_id).store_id).name, Store.find(Driver.find(route.driver_id).store_id)  %></td>
                <td><%= link_to Driver.find(route.driver_id).name, Driver.find(route.driver_id)  %></td>
                <td><%= route.route.split("->").count %></td>
                <td><%= route.traveltime %></td>
                <td><%= route.traveldistance %></td>
                <td><%= (route.drivingcosts + route.worktimecosts).round(2) %></td>
                <td><%= link_to "Anzeigen", route %></td>

              </tr>

          <% end %>

          </tbody>

        </table>
      </div>

    </div>

  </div>

</div>

<% end %>





<% if @optimization.optimizationtype == 2 or @optimization.optimizationtype == 4 or @optimization.optimizationtype == 1 %>

    <div class="col-xs-11" style="margin-bottom: 70px">
      <ul class="menu-items">
        <h3> Übersicht aller Zuordnungen </h3>


      </ul>
      <div style="width:100%;border-top:1px solid silver;">

        <div class="row" style="margin-top: 20px">




          <div class="table-responsive">
            <table class="table table-striped smalltable">
              <thead>
              <tr>
                <th>Bestellung</th>
                <th>Kunde</th>
                <th>Zugeordnetes Geschäft</th>
                <th>Typ</th>

              </tr>
              </thead>
              <tbody>


              <%
                @allocations = @optimization.allocation.split(",")
                @allocations.each do |a|
                order = Order.find(a.split("-")[0].to_i)
                store = Store.find(a.split("-")[1].to_i)
                customer = Customer.find(order.customer_id)

              %>

                  <tr>
                    <td><%= link_to order.id, order %></td>
                    <td><%= link_to customer.name, customer  %></td>
                    <td><%= link_to store.name, store  %></td>
                    <td><%= method_to_text(order.allocationmethod)  %></td>


                  </tr>

              <% end %>

              </tbody>

            </table>
          </div>

        </div>

      </div>

    </div>

<% end %>




<div style="margin-bottom: 65px"></div>

