
<%= bootstrap_form_for(@option, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>





    <h3 style="margin: 30px"><%= @option.name %></h3>
    <%= f.text_field :value, label: "Wert", required: true %>





    <br>

    <%= f.form_group do %>
        <h1 > <%= f.submit "Abschicken", class: "btn btn-success" %></h1>
        <h6 style="margin-top: -20px;">Alle Felder müssen ausgefüllt werden.</h6>


    <% end %>

    <div style="margin-bottom: 100px"></div>
<% end %>


