<h1 style="margin-bottom: 40px">Einstellungen</h1>


<div id="overview"  style="display: block;">


  <div class="col-xs-12" style="margin-bottom: 170px">

    <div class="row" style="margin-top: 50px">

      <div class="col-md-3">
            <div class="box" onclick="return showOptions(1)">
              <div class="box-icon"> <span class="fa fa-3x fa-archive"></span> </div>
              <div class="info">
                <h4 class="text-center">Volumen der Boxen</h4>
                <p>Einstellungen zum Volumen der Boxen.</p>
              </div>
            </div>
      </div>

      <div class="col-md-3">
        <div class="box" onclick="return showOptions(2)">
          <div class="box-icon"> <span class="fa fa-3x fa-folder"></span> </div>
          <div class="info">
            <h4 class="text-center">GAMS Pfad</h4>
            <p>Eingabe und Test des GAMS Pfades, der zur Verwendung der Optimierung benötigt wird.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box" onclick="return showOptions(3)">
          <div class="box-icon"> <span class="fa fa-3x fa-usd"></span> </div>
          <div class="info">
            <h4 class="text-center">Kosten</h4>
            <p>Einstellungen von spezifischen Kosten und Emissionen.</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="box" onclick="return showOptions(4)">
          <div class="box-icon"> <span class="fa fa-3x fa-clock-o"></span> </div>
          <div class="info">
            <h4 class="text-center">Zeiten</h4>
            <p>Einstellungen von spezifischen Zeiten.</p>
          </div>
        </div>
      </div>


    </div>


  </div>

</div>



<!--   BOXEN   -->

<div id="boxes" style="display: none;">

 <%= render 'boxes' %>

</div>

<div id="box" style="display: none;">
  <%= render 'box' %>
</div>

<div id="coolingbox" style="display: none;">
  <%= render 'coolingbox' %>
</div>

<div id="freezingbox" style="display: none;">
  <%= render 'freezingbox' %>
</div>

<!--   BOXEN ENDE   -->



<!--   GAMS   -->

<div id="gamsoverview" style="display: none;">
  <%= render 'gamsoverview' %>
</div>

<div id="gams" style="display: none;">
  <%= render 'gams' %>
</div>

<div id="gamsstatus" style="display: none;">
  <%= render 'gamsstatus' %>
</div>

<!--   GAMS   -->


<!--   KOSTEN   -->

<div id="costs" style="display: none;">
  <%= render 'costs' %>
</div>

<div id="hourcosts" style="display: none;">
  <%= render 'hourcosts' %>
</div>

<div id="cartcosts" style="display: none;">
  <%= render 'cartcosts' %>
</div>

<div id="drivingcosts" style="display: none;">
  <%= render 'drivingcosts' %>
</div>

<div id="emissions" style="display: none;">
  <%= render 'emissions' %>
</div>


<!--   KOSTEN ENDE   -->




<!--   ZEITEN   -->

<div id="times" style="display: none;">
  <%= render 'times' %>
</div>

<div id="timeperproduct" style="display: none;">
  <%= render 'timeperproduct' %>
</div>

<div id="servicetime" style="display: none;">
  <%= render 'servicetime' %>
</div>

<div id="timewindows" style="display: none;">
  <%= render 'timewindows' %>
</div>

<!--   ZEITEN ENDE   -->
<h1 style="padding-top: -500px;">
<div onclick="return showOptions(0)" class="btn btn-success" style="max-width: 200px" > Zurück </div>
</h1>

<script>

  function showOptions(id){

    if (id == 0) {
      document.getElementById("overview").style.display = "block";
      document.getElementById("boxes").style.display = "none";
      document.getElementById("gams").style.display = "none";
      document.getElementById("costs").style.display = "none";
      document.getElementById("times").style.display = "none";
      document.getElementById("box").style.display = "none";
      document.getElementById("coolingbox").style.display = "none";
      document.getElementById("freezingbox").style.display = "none";
      document.getElementById("hourcosts").style.display = "none";
      document.getElementById("drivingcosts").style.display = "none";
      document.getElementById("cartcosts").style.display = "none";
      document.getElementById("timeperproduct").style.display = "none";
      document.getElementById("servicetime").style.display = "none";
      document.getElementById("timewindows").style.display = "none";
      document.getElementById("gamsoverview").style.display = "none";
      document.getElementById("gamsstatus").style.display = "none";
      document.getElementById("emissions").style.display = "none";

    }

    /* Von Schicht 1 zu Schicht 2 */
    if (id == 1) {
      document.getElementById("overview").style.display = "none";
      document.getElementById("boxes").style.display = "block";
    }
    if (id == 2) {
      document.getElementById("overview").style.display = "none";
      document.getElementById("gamsoverview").style.display = "block";
    }
    if (id == 3) {
      document.getElementById("overview").style.display = "none";
      document.getElementById("costs").style.display = "block";
    }
    if (id == 4) {
      document.getElementById("overview").style.display = "none";
      document.getElementById("times").style.display = "block";
    }


    /* Von Schicht 2 (Boxen) zum Form für die jeweilige Box */
    if (id == 5) {
      document.getElementById("boxes").style.display = "none";
      document.getElementById("box").style.display = "block";
    }
    if (id == 6) {
      document.getElementById("boxes").style.display = "none";
      document.getElementById("coolingbox").style.display = "block";
    }
    if (id == 7) {
      document.getElementById("boxes").style.display = "none";
      document.getElementById("freezingbox").style.display = "block";
    }

    /* Von Schicht 2 (Kosten) zum Form für die jeweiligen Kosten */
    if (id == 8) {
      document.getElementById("costs").style.display = "none";
      document.getElementById("hourcosts").style.display = "block";
    }
    if (id == 9) {
      document.getElementById("costs").style.display = "none";
      document.getElementById("drivingcosts").style.display = "block";
    }
    if (id == 10) {
      document.getElementById("costs").style.display = "none";
      document.getElementById("cartcosts").style.display = "block";
    }
    if (id == 16) {
      document.getElementById("costs").style.display = "none";
      document.getElementById("emissions").style.display = "block";
    }

    /* Von Schicht 2 (Zeiten) zum Form für die jeweilige Zeit */
    if (id == 11) {
      document.getElementById("times").style.display = "none";
      document.getElementById("timeperproduct").style.display = "block";
    }
    if (id == 12) {
      document.getElementById("times").style.display = "none";
      document.getElementById("servicetime").style.display = "block";
    }
    if (id == 13) {
      document.getElementById("times").style.display = "none";
      document.getElementById("timewindows").style.display = "block";
    }

    /* Von Schicht 2 (GAMS) zur GAMS Option*/
    if (id == 14) {
      document.getElementById("gamsoverview").style.display = "none";
      document.getElementById("gams").style.display = "block";
    }
    if (id == 15) {
      document.getElementById("gamsoverview").style.display = "none";
      document.getElementById("gamsstatus").style.display = "block";
    }


  }
</script>







