
<h1>Kundenübersicht</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
    <tr>
      <th data-field="userid" data-sortable="true">ID</th>
      <th data-editable="true" data-field="name" data-sortable="true">Name</th>
      <th data-field="city" data-sortable="true">Heimadresse</th>
      <th data-field="costmodel" data-sortable="true">Kostenmodell</th>
      <th data-field="workcity" data-sortable="true">Bestellungen</th>
      <th data-field="n1" data-sortable="false"></th>
      <th data-field="n2" data-sortable="false"></th>
      <th data-field="n3" data-sortable="false"></th>

    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to customer.id, User.find(customer.user_id) %> </td>
        <td><%= customer.name %> </td>
        <td><%= customer.zip %> <%= customer.city %> <br> <%= customer.street %></td>
        <td><%= costmodel_to_text(customer.costmodel) %></td>

        <td><%= link_to Order.where(customer_id: customer.id).count %></td>

        <td><%= link_to 'Anzeigen', User.find(customer.user_id) %></td>
        <td><%= link_to 'Bearbeiten', edit_customer_path(customer) %></td>
        <td><%= link_to 'Löschen', User.find(customer.user_id), demoversion_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>




<%= link_to new_customer_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neuen Kunden anlegen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>
