<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :method %><br>
    <%= f.number_field :method %>
  </div>
  <div class="field">
    <%= f.label :day %><br>
    <%= f.text_field :day %>
  </div>
  <div class="field">
    <%= f.label :timewindow %><br>
    <%= f.number_field :timewindow %>
  </div>
  <div class="field">
    <%= f.label :products %><br>
    <%= f.text_field :products %>
  </div>
  <div class="field">
    <%= f.label :neededboxes %><br>
    <%= f.text_field :neededboxes %>
  </div>
  <div class="field">
    <%= f.label :neededcoolingboxes %><br>
    <%= f.text_field :neededcoolingboxes %>
  </div>
  <div class="field">
    <%= f.label :neededfreezingboxes %><br>
    <%= f.text_field :neededfreezingboxes %>
  </div>
  <div class="field">
    <%= f.label :allocatedstore %><br>
    <%= f.number_field :allocatedstore %>
  </div>
  <div class="field">
    <%= f.label :allocateddriver %><br>
    <%= f.number_field :allocateddriver %>
  </div>
  <div class="field">
    <%= f.label :estimatedtime %><br>
    <%= f.text_field :estimatedtime %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
