<p id="notice"><%= notice %></p>

<h1>Listing Compares</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Opt1</th>
      <th>Opt2</th>
      <th>Opt3</th>
      <th>Opt4</th>
      <th>Opt5</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compares.each do |compare| %>
      <tr>
        <td><%= compare.number %></td>
        <td><%= compare.opt1 %></td>
        <td><%= compare.opt2 %></td>
        <td><%= compare.opt3 %></td>
        <td><%= compare.opt4 %></td>
        <td><%= compare.opt5 %></td>
        <td><%= link_to 'Show', compare %></td>
        <td><%= link_to 'Edit', edit_compare_path(compare) %></td>
        <td><%= link_to 'Destroy', compare, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compare', new_compare_path %>
