
<%
  @optimizations = [@compare.opt1, @compare.opt2]
  if @compare.opt3 != nil
    @optimizations.push(@compare.opt3)
    end
  if @compare.opt4 != nil
    @optimizations.push(@compare.opt4)
  end
  if @compare.opt5 != nil
    @optimizations.push(@compare.opt5)
  end

%>

<h1>Vergleich</h1>



<table data-toggle="table"
       data-show-columns="true"
       class="customtable"
       data-locale="de"
>
  <thead>
  <tr >
    <th data-align="center" data-field="name" ></th>
    <% @optimizations.each do |opt| %>
        <th data-align="center" data-field="<%= opt %>" >
          <div style="margin-bottom: 25px"></div>
          <%= if Optimization.find(opt).name != nil
                link_to Optimization.find(opt).name, Optimization.find(opt)
            else
              link_to Optimization.find(opt).id, Optimization.find(opt)
              end
          %>
          <div style="margin-bottom: 25px"></div>
        </th>
    <% end %>


  </tr>
  </thead>

  <tbody>

  <!-- Allgemeines -->
      <tr>
        <td>ID</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.id %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Erstellt am</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.created_at.to_time.strftime('%d.%m.%Y (%H:%M Uhr)') %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Optimierungstyp</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= opttype_to_text(myopt.optimizationtype) %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Geschäftstypen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= storesselection_to_text(myopt.stores) %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Bestellungstypen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= orderselection_to_text(myopt.orders) %> </td>
        <% end %>
      </tr>

  <tr>
    <td>Anzahl der Bestellungen</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td><%= myopt.orderslist.split(",").count %> </td>
    <% end %>
  </tr>

  <!-- Streckendaten -->


        <tr>
          <% (@compare.number + 1).times do %>
        <td></td>
          <% end %>
        </tr>

      <tr>
        <td>Distanz</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.totaldistance %> km </td>
        <% end %>
      </tr>

      <tr>
        <td>Fahrtzeit</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.totaltraveltime %> min </td>
        <% end %>
      </tr>

      <tr>
        <td>Emissionen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.emissions / 1000 %> kg </td>
        <% end %>
      </tr>

  <tr>
    <td>Reale Distanz</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td><%= myopt.realtotaldistance %> km </td>
    <% end %>
  </tr>

  <tr>
    <td>Reale Emissionen</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td><%= myopt.realtotalemissions / 1000 %> kg </td>
    <% end %>
  </tr>

  <!-- Tourendaten -->


      <tr>
        <% (@compare.number + 1).times do %>
            <td></td>
        <% end %>
      </tr>

      <tr>
        <td>Tourenanzahl</td>
        <% @optimizations.each do |opt| %>
            <td><%= Route.where(:optimization_id => [opt]).count %></td>
        <% end %>
      </tr>

      <tr>
        <td>Boxen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.totalboxes %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Kühlboxen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.totalcoolingboxes %> </td>
        <% end %>
      </tr>

      <tr>
        <td>Tiefkühlboxen</td>
        <% @optimizations.each do |opt| %>
            <% myopt = Optimization.find(opt) %>
            <td><%= myopt.totalfreezingboxes %> </td>
        <% end %>
      </tr>

  <!-- Kosten -->


  <tr>
    <% (@compare.number + 1).times do %>
        <td></td>
    <% end %>
  </tr>

  <tr>
    <td>Umsatz</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td><%= number_to_currency(myopt.turnover , :unit => "€", format: "%n %u" ) %></td>
    <% end %>
  </tr>

  <tr>
    <td>Produktkosten</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td>  <%= number_to_currency(myopt.productcosts , :unit => "€", format: "%n %u" ) %></td>
    <% end %>
  </tr>

  <tr>
    <td>Arbeitszeitkosten</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td>  <%= number_to_currency(myopt.worktimecosts , :unit => "€", format: "%n %u" ) %></td>
    <% end %>
  </tr>

  <tr>
    <td>Fahrtkosten</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td>  <%= number_to_currency(myopt.drivingcosts , :unit => "€", format: "%n %u" ) %></td>
    <% end %>
  </tr>

  <tr>
    <td>Profit</td>
    <% @optimizations.each do |opt| %>
        <% myopt = Optimization.find(opt) %>
        <td>  <%= number_to_currency(myopt.profit , :unit => "€", format: "%n %u" ) %></td>
    <% end %>
  </tr>

  </tbody>
</table>






<br>
<div style="margin-bottom: 65px"></div>



