



<h1>Warenkorb</h1>

<% if @cart.products == nil or @cart.products == "" %>
    <h6 style="margin-top: -20px;">Warenkorb leer.</h6>

<% else %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th>Produkt</th>
      <th>Menge</th>
      <th>Preis</th>
      <th></th>
    </tr>
    </thead>
    <tbody>


    <%

      @totalprice = 0

     array = @cart.products.split(",")
      array.each do |items|

    productitemssplit = items.split("-")
    product = productitemssplit[0]
    number = productitemssplit[1]

    myproduct = Product.find(product)

    if myproduct.discountprice != nil
      productsprice = myproduct.discountprice * number.to_f
    else
      productsprice = myproduct.price * number.to_f
    end



    euro = productsprice.round(2).to_s.split(".")[0]
    cent0 = productsprice.round(2).to_s.split(".")[1]
    if cent0.length == 1
      cent = cent0 + "0"
    else
      cent = cent0
    end

    pricestring = euro + "," + cent + " €"

        @totalprice += productsprice

%>
        <tr>
          <td><%= image_tag myproduct.picture, width: 30 %></td>
          <td class="tableclassy"><%= link_to myproduct.name, myproduct, class: "linkclass", 'data-turbolinks' => false %></td>
          <td>
            <%= form_for(@cart) do |f| %>
            <div class="section" style="background: transparent">
              <div>
              <div class="btn-minus" onclick="minus(<%= myproduct.id %>)"><span class="glyphicon glyphicon-minus"></span></div>
              <%= f.text_field :items, id: myproduct.id, value: number %>
              <div class="btn-plus" onclick="plus(<%= myproduct.id %>)"><span class="glyphicon glyphicon-plus"></span></div>
                <div style="margin-left: 10px;"><%= f.button "Bestätigen", name: "myid", value: myproduct.id.to_s + "-c", class: "btn btn-success bestbutton"  %></div>
              </div>
            </div>
            <% end %>

          </td>
          <% if myproduct.discountprice != nil %>
              <td style="color: #e60028"><%= pricestring %></td>
              <% else %>
          <td><%= pricestring %></td>
              <% end %>

          <td><%= link_to "Löschen", deleteitem_path(:myproduct => myproduct.id) %></td>
        </tr>

 <% end %>


    <%
      euro = @totalprice.round(2).to_s.split(".")[0]
      cent0 = @totalprice.round(2).to_s.split(".")[1]
      if cent0.length == 1
        cent = cent0 + "0"
      else
        cent = cent0
      end

      totalpricestring = euro + "," + cent + " €"
    %>
    </tbody>
    <tr>
      <td></td>
      <td></td>
      <td style="text-align: right; font-size: 18px;">Gesamtpreis: </td>
      <td style="font-size: 18px"><b><%= totalpricestring %></b></td>
      <td></td>
    </tr>
    <tfoot>


    </tfoot>
  </table>
</div>

<% if current_customer.city == nil %>
    <h1 style="text-align: center"><%= link_to "Weiter zur Liefermethode", new_order_path, disabled: true, class: "btn btn-success", style: "max-width: 300px;" %></h1>
    <h6 style="margin-top: -20px;">Kundendaten müssen zunächst eingetragen werden.</h6>

<% else %>
<h1 style="text-align: center"><%= link_to "Weiter zur Liefermethode", new_order_path, class: "btn btn-success", style: "max-width: 300px;" %></h1>
    <% end %>


<%
  priceofcart = euro + "." + cent
  @cart.price = priceofcart.to_f
  @cart.save
%>

    <% end %>

    <script>

  function minus(id){

    value = document.getElementById(id).value;

    var now = value;
    if ($.isNumeric(now)){
      if (parseInt(now) -1 > 0){ now--;}
      $(document.getElementById(id)).val(now);
    }else{
      $(document.getElementById(id)).val("1");
    }
  }

  function plus(id){
    value = document.getElementById(id).value;

    var now = value;
    if ($.isNumeric(now)){
      $(document.getElementById(id)).val(parseInt(now)+1);
    }else{
      $(document.getElementById(id)).val("1");
    }
  }


</script>