
<h1>Übersicht aller Touren</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-field="created" data-sortable="true">Erstellt am</th>
    <th data-field="opti" data-sortable="true">Optimierung</th>
    <th data-field="orders" data-sortable="true">Kunden</th>
    <th data-field="time" data-sortable="true">Fahrtzeit (min)</th>
    <th data-field="distance" data-sortable="true">Distanz (km)</th>

    <th data-field="profit" data-sortable="true">Kosten (€)</th>
    <th data-field="show" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @routes.each do |r| %>
      <tr>
        <td><%= r.id %> </td>
        <td><%= r.created_at.to_time.strftime('%d.%m.%Y (%H:%M Uhr)') %> </td>
        <td><%= link_to r.optimization_id, Optimization.find(r.optimization_id) %> </td>
        <td><%= r.route.split("->").count %> </td>
        <td><%= r.traveltime %> </td>
        <td><%= r.traveldistance %> </td>
        <td><%= (r.drivingcosts + r.worktimecosts).round(2) %> </td>
        <td><%= link_to 'Anzeigen', r %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>







