
<%= bootstrap_form_for(@driver, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>




    <%= f.text_field :name, label: "Name", required: true %>
    <%= f.collection_select :store_id, Store.all, :id, :name, label_class: "labeltext", label: "Geschäft", required: true %>
    <%= f.collection_select :vehicle_id, Vehicle.all, :id, :name, label_class: "labeltext", label: "Fahrzeug", required: true %>



    <br>

    <%= f.form_group do %>
        <h1 > <%= f.submit "Abschicken", class: "btn btn-success" , disabled: true %></h1>
        <h6 style="margin-top: -20px;">Alle Felder müssen ausgefüllt werden.</h6>


    <% end %>

    <div style="margin-bottom: 100px"></div>
<% end %>


