
<h1>Fahrer</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="store" data-sortable="true">Geschäft</th>
    <th data-field="vehicle" data-sortable="true">Fahrzeug</th>
    <th data-field="routes" data-sortable="true">Routen</th>
    <th data-field="n1" data-sortable="false"></th>
    <th data-field="n2" data-sortable="false"></th>
    <th data-field="n3" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @drivers.each do |d| %>
      <tr>
        <td><%= d.id %> </td>
        <td><%= d.name %> </td>
        <td><%= Store.find(d.store_id).name %> </td>
        <td><%= Vehicle.find(d.vehicle_id).name %> </td>
        <td><%= Route.where(driver_id: d.id).count %> </td>
        <td><%= link_to 'Anzeigen', d %></td>
        <td><%= link_to 'Bearbeiten', edit_driver_path(d) %></td>
        <td><%= link_to 'Löschen', demoversion_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>



<%= link_to new_driver_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neuen Fahrer anlegen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>

