
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">

      <div class="box" style="text-align: center; display: inline">
        <div class="box-icon" style="height: 220px; width: 220px"> <span class="fa fa-5x fa-address-card"></span> </div>


        <div class="info">
          <h4 class="text-center">     </h4>
        </div>
      </div>



    </div>


    <div class="col-xs-7" style="border:0px solid gray; border-left:1px solid #9b9b9b;">
      <!-- Datos del vendedor y titulo del producto -->
      <h1> <%= @driver.name %> </h1>
      <h5></h5>


      <h6 class="title-price" style="margin-bottom:15px;" ></h6>




      <div class="section" style="padding-bottom:20px;">
        <h3 style="margin-top:15px;">Allgemeine Daten </h3>
        <h4 style="margin-top:15px;">Geschäft: <%= Store.find(@driver.store_id).name %> </h4>
        <h4 style="margin-top:15px;">Fahrzeug: <%= Vehicle.find(@driver.vehicle_id).name %> </h4>
      </div>

      <div class="section" style="background: white; margin: 3px"></div>

      <%
        @routes = Route.where(driver_id: @driver.id)
        if @routes.any?
         @lastroute = @routes.order("created_at").last
      %>
      <div class="section" style="padding-bottom:20px;">
        <h3 style="margin-top:25px;">Letzte Tour </h3>
        <h4 style="margin-top:15px;">ID: <%= link_to Route.find(@lastroute.id).id, Route.find(@lastroute.id) %> </h4>
        <h4 style="margin-top:15px;">Route: <%= @lastroute.route %> </h4>
        <h4 style="margin-top:15px;">Gesamtfahrtzeit: <%= @lastroute.traveltime %> Minuten  </h4>
        <h4 style="margin-top:15px;">Gesamtstrecke: <%= @lastroute.traveldistance %> Kilometer </h4>
        <h4 style="margin-top:15px;">Gesamtemissionen: <%= @lastroute.emissions / 1000 %> Kilogramm </h4>
        <h4 style="margin-top:15px;">Boxen: <%= @lastroute.boxes %> </h4>
        <h4 style="margin-top:15px;">Kühlboxen: <%= @lastroute.coolingboxes %>  </h4>
        <h4 style="margin-top:15px;">Tiefkühl-Boxen: <%= @lastroute.freezingboxes %> </h4>

      </div>


      <div class="section" style="background: white; margin: 3px"></div>


      <% else %>
          <div class="section" style="padding-bottom:20px;">
            <h4 style="margin-top:25px;">Noch keine Touren-Daten vorhanden </h4>
          </div>
      <% end %>

      <div class="section" style="background: white; margin: 30px"></div>

    <% if !current_user.driver %>
      <div class="section" style="padding-bottom:20px; background: none">
        <%= link_to edit_driver_path(@driver) do %>
            <div class="box">
              <div class="box-icon"> <span class="fa fa-3x fa-pencil-square-o"></span> </div>
              <div class="info">
                <h4 class="text-center"><%= "Fahrer bearbeiten" %></h4>
                <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>

      <div class="section" style="background: white; margin: 3px"></div>


    </div>






  </div>



</div>



<div class="col-xs-11" style="margin-bottom: 70px">
  <ul class="menu-items">
    <h3> Übersicht aller Touren von Fahrer <%= @driver.name %> </h3>


  </ul>
  <div style="width:100%;border-top:1px solid silver;">

    <div class="row" style="margin-top: 20px">




      <div class="table-responsive" >
        <table class="table table-striped smalltable">
          <thead>
          <tr>
            <th>ID</th>
            <th>Optimierung</th>
            <th>Erstellt am</th>
            <th>Kunden</th>
            <th>Fahrtzeit (min)</th>
            <th>Distanz (km)</th>
            <th>Kosten (€)</th>
            <th>Anzeigen</th>

          </tr>
          </thead>
          <tbody >


          <%
            @routes = Route.where(driver_id: @driver.id)
            @routes.each do |route|
          %>

              <tr >
                <td><%= route.id %></td>
                <td class="tableclassy"><%= link_to route.optimization_id, Optimization.find(route.optimization_id), class: "linkclass" %></td>

                <td><%= route.created_at.to_time.strftime('%d.%m.%Y (%H:%M Uhr)') %></td>
                <td><%= route.route.split("->").count %></td>

                <td><%= route.traveltime %></td>
                <td><%= route.traveldistance %></td>
                <td><%= route.worktimecosts + route.drivingcosts %></td>
                <td><%= link_to "Anzeigen", route, 'data-turbolinks' => false %></td>



              </tr>

          <% end %>


          </tbody>

        </table>
      </div>





    </div>



  </div>
</div>





<div style="margin-bottom: 65px"></div>

