
<%= bootstrap_form_for(@vehicle, layout: :horizontal, label_col: "col-sm-3", control_col: "col-sm-6") do |f| %>





    <%= f.text_field :name, label: "Name", required: true %>
    <%= f.number_field :range, label: "Reichweite (km)", required: true, step: :any %>
    <%= f.number_field :speed, label: "Geschwindigkeit (km/h)", required: true, step: :any %>
    <%= f.number_field :emissions, label: "Emissionen(g/km)", required: true, step: :any %>
    <%= f.number_field :boxcapacity, label: "Boxen Kapazität", required: true %>
    <%= f.number_field :coolingboxcapacity, label: "Kühlboxen Kapazität", required: true %>
    <%= f.number_field :freezingboxcapacity, label: "Tiefkühlboxen Kapazität", required: true %>



    <br>

    <%= f.form_group do %>
        <h1 > <%= f.submit "Abschicken", class: "btn btn-success", disabled: true  %></h1>
        <h6 style="margin-top: -20px;">Alle Felder müssen ausgefüllt werden.</h6>


    <% end %>

    <div style="margin-bottom: 100px"></div>
<% end %>


