
<h1>Fahrzeugtypen</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-editable="name" data-field="name" data-sortable="true">Name</th>
    <th data-field="adresse" data-sortable="true">Reichweite (km)</th>
    <th data-field="concept" data-sortable="true">Geschwindigkeit (km/h)</th>
    <th data-field="adresse" data-sortable="true">Boxen</th>
    <th data-field="concept" data-sortable="true">Kühlboxen</th>
    <th data-field="concept" data-sortable="true">Frierboxen</th>
    <th data-field="n1" data-sortable="false"></th>
    <th data-field="n2" data-sortable="false"></th>
    <th data-field="n3" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @vehicles.each do |v| %>
      <tr>
        <td><%= v.id %> </td>
        <td><%= v.name %> </td>
        <td><%= v.range %> </td>
        <td><%= v.speed %> </td>
        <td><%= v.boxcapacity %> </td>
        <td><%= v.coolingboxcapacity %> </td>
        <td><%= v.freezingboxcapacity %> </td>
        <td><%= link_to 'Anzeigen', v %></td>
        <td><%= link_to 'Bearbeiten', edit_vehicle_path(v) %></td>
        <td><%= link_to 'Löschen', v, method: :delete, data: { confirm: 'Fahrzeugtyp wirklich löschen?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>




<%= link_to new_vehicle_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neuen Fahrzeugtyp anlegen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>



