<p id="notice"><%= notice %></p>

<% if params[:category] != nil and params[:category] != "Alle Produkte" %>
<h1> <%= params[:category]  %></h1>
<% else %>
    <h1>Produktübersicht</h1>

<% end%>

<div style="margin-bottom: 30px; display: flex">
  <div class="divfooter">
    <h2>Obst & Gemüse</h2>
    <p><%= link_to "Obst", products_path(:category => "Obst") %></p>
    <p><%= link_to "Gemüse", products_path(:category => "Gemüse") %></p>
    <p><%= link_to "Kräuter", products_path(:category => "Kräuter") %></p>
  </div>
  <div class="divfooter">
    <h2>Gekühlte Produkte</h2>
    <p><%= link_to "Eier, Käse, Milch", products_path(:category => "Eier, Käse, Milch") %></p>
    <p><%= link_to "Wurst", products_path(:category => "Wurst") %></p>
    <p><%= link_to "Fleisch", products_path(:category => "Fleisch") %></p>
    <p><%= link_to "Fisch", products_path(:category => "Fisch") %></p>
  </div>
  <div class="divfooter">
    <h2>Tiefkühl Produkte</h2>
    <p><%= link_to "Fisch & Fleisch", products_path(:category => "Fisch & Fleisch") %></p>
    <p><%= link_to "Fertiggerichte", products_path(:category => "Fertiggerichte") %></p>
    <p><%= link_to "Gemüse, Obst & Kräuter", products_path(:category => "Gemüse, Obst & Kräuter") %></p>
    <p><%= link_to "Eis", products_path(:category => "Eis") %></p>
  </div>
  <div class="divfooter">
    <h2>Nahrungsmittel</h2>
    <p><%= link_to "Konserven", products_path(:category => "Konserven") %></p>
    <p><%= link_to "Teigwaren", products_path(:category => "Teigwaren") %></p>
    <p><%= link_to "Backwaren", products_path(:category => "Backwaren") %></p>
    <p><%= link_to "Cerealien", products_path(:category => "Cerealien") %></p>
    <p><%= link_to "Backzutaten", products_path(:category => "Backzutaten") %></p>
  </div>
  <div class="divfooter">
    <h2>Spezial</h2>
    <p><%= link_to "Alle Produkte", products_path(:category => "Alle Produkte") %></p>
    <p><%= link_to "Süßigkeiten", products_path(:category => "Süßigkeiten") %></p>
    <p><%= link_to "Getränke", products_path(:category => "Getränke") %></p>
    <p><%= link_to "Favoriten", products_path(:category => "Favoriten") %></p>
    <p><%= link_to "Angebote", products_path(:category => "Angebote") %></p>
  </div>
</div>

<br>
<div class="container">

  <div id="cbp-pgcontainer" class="cbp-pgcontainer">
    <ul class="cbp-pggrid">



      <% @products.each do |product| %>
          <!-- ITEM START-->

          <li id="p<%= product.id %>">
            <div class="cbp-pgcontent">
              <div class="cbp-pgitem">
                <div class="cbp-pgitem-flip">
                  <%= link_to image_tag(product.picture), product, 'data-turbolinks' => false %>
                </div>
              </div>
              <ul class="cbp-pgoptions">
                <li class="cbp-pgoptfav">
                  <%= link_to additemtofavs_path(:myproduct => product.id), class: "cbp-pgoptfav" do %>
                      <% if current_customer.favorites != nil

                         if current_customer.favorites.split(",").include? product.id.to_s %>
                          <span class="iconsize glyphicon glyphicon-star" aria-hidden="true" style="font-size: 32px"></span>
                      <% else %>
                          <span class="iconsize glyphicon glyphicon-star-empty" aria-hidden="true" style="font-size: 32px"></span>
                      <% end %>
                      <% else %>
                          <span class="iconsize glyphicon glyphicon-star-empty" aria-hidden="true" style="font-size: 32px"></span>
                      <% end %>
                <% end %>

                </li>
                <li class="cbp-pgoptsize">

                  <% currentsize = product.id.to_s + "currentsize"  %>
                  <span id="<%= currentsize %>" data-size="XL">1</span>


                  <div class="cbp-pgopttooltip">
                    <span id="size4" data-size="XL" onclick="changesize(4, <%= product.id %>)">4</span>
                    <span id="size3" data-size="XL" onclick="changesize(3, <%= product.id %>)">3</span>
                    <span id="size2" data-size="XL" onclick="changesize(2, <%= product.id %>)">2</span>
                    <span id="size1" data-size="XL" onclick="changesize(1, <%= product.id %>)">1</span>

                  </div>
                </li>

                       <li style="  width: 50%;" class="cbp-pgoptcart">
                  <%= link_to additemtocart_path(:myproduct => product.id, :mysize => 1), class: "cbp-pgoptfav", id: product.id.to_s + "size1cart" do %>
                      <span class="iconsize glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 32px"></span>
                  <% end %>
                  <%= link_to additemtocart_path(:myproduct => product.id, :mysize => 2), style: "display: none;", class: "cbp-pgoptfav", id: product.id.to_s + "size2cart" do %>
                      <span class="iconsize glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 32px"></span>
                  <% end %>
                  <%= link_to additemtocart_path(:myproduct => product.id, :mysize => 3), style: "display: none;" , class: "cbp-pgoptfav", id: product.id.to_s + "size3cart" do %>
                      <span class="iconsize glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 32px"></span>
                  <% end %>
                  <%= link_to additemtocart_path(:myproduct => product.id, :mysize => 4), style: "display: none;" , class: "cbp-pgoptfav", id: product.id.to_s + "size4cart" do %>
                      <span class="iconsize glyphicon glyphicon-shopping-cart" aria-hidden="true" style="font-size: 32px"></span>
                  <% end %>
                </li>
                </li>
              </ul><!-- cbp-pgoptions -->
            </div><!-- cbp-pgcontent -->
            <div class="cbp-pginfo">
              <h3 style="margin-left: -9px"><%= product.name %></h3>

              <%
                if product.discountprice != nil
                  euro = product.discountprice.to_s.split(".")[0]
                  cent0 = product.discountprice.to_s.split(".")[1]
                  else
                euro = product.price.to_s.split(".")[0]
                cent0 = product.price.to_s.split(".")[1]
                end
                if cent0.length == 1
                  cent = cent0 + "0"
                  else
                  cent = cent0
                end


                if product.discountprice == nil or product.discountprice == ""
                  euro = product.price.to_s.split(".")[0]
                  cent0o = product.price.to_s.split(".")[1]
                  if cent0o.length == 1
                    cent = cent0o + "0"
                  else
                    cent = cent0o
                  end
                end


              %>

              <% if product.discountprice != nil %>
                  <span style="color: #d02814"><%= euro %>,<sup><%= cent %></sup> €</span>

              <% else%>
                  <span class="cbp-pgprice"><%= euro %>,<sup><%= cent %></sup> €</span>
              <% end %>
            </div>
          </li>

          <!-- ITEM END-->

      <% end %>




              </ul><!-- /cbp-pggrid -->
  </div><!-- /cbp-pgcontainer -->
</div>


<script>



  function changesize(size, prodid) {

    id = "size" + size;
    value = document.getElementById(id).innerHTML; // = 4 (z.B.)

    document.getElementById(prodid + "currentsize").innerHTML = value;

    if (value == 1){
      document.getElementById(prodid + "size1cart").style.display = "block";
      document.getElementById(prodid + "size2cart").style.display = "none";
      document.getElementById(prodid + "size3cart").style.display = "none";
      document.getElementById(prodid + "size4cart").style.display = "none";
    }
    if (value == 2){
      document.getElementById(prodid + "size1cart").style.display = "none";
      document.getElementById(prodid + "size2cart").style.display = "block";
      document.getElementById(prodid + "size3cart").style.display = "none";
      document.getElementById(prodid + "size4cart").style.display = "none";
    }
    if (value == 3){
      document.getElementById(prodid + "size1cart").style.display = "none";
      document.getElementById(prodid + "size2cart").style.display = "none";
      document.getElementById(prodid + "size3cart").style.display = "block";
      document.getElementById(prodid + "size4cart").style.display = "none";
    }
    if (value == 4){
      document.getElementById(prodid + "size1cart").style.display = "none";
      document.getElementById(prodid + "size2cart").style.display = "none";
      document.getElementById(prodid + "size3cart").style.display = "none";
      document.getElementById(prodid + "size4cart").style.display = "block";
    }
  }



  $( function()
  {

    var targets = $( '[rel~=tooltip]' ),
        target  = false,
        tooltip = false,
        title   = false;

    targets.bind( 'mouseenter', function()
    {
      target  = $( this );
      tip     = target.attr( 'title' );
      tooltip = $( '<div id="tooltip"></div>' );

      if( !tip || tip == '' )
        return false;

      target.removeAttr( 'title' );
      tooltip.css( 'opacity', 0 )
          .html( tip )
          .appendTo( 'body' );

      var init_tooltip = function()
      {
        if( $( window ).width() < tooltip.outerWidth() * 1.5 )
          tooltip.css( 'max-width', $( window ).width() / 2 );
        else
          tooltip.css( 'max-width', 340 );

        var pos_left = target.offset().left + ( target.outerWidth() / 2 ) - ( tooltip.outerWidth() / 2 ),
            pos_top  = target.offset().top - tooltip.outerHeight() - 20;

        if( pos_left < 0 )
        {
          pos_left = target.offset().left + target.outerWidth() / 2 - 20;
          tooltip.addClass( 'left' );
        }
        else
          tooltip.removeClass( 'left' );

        if( pos_left + tooltip.outerWidth() > $( window ).width() )
        {
          pos_left = target.offset().left - tooltip.outerWidth() + target.outerWidth() / 2 + 20;
          tooltip.addClass( 'right' );
        }
        else
          tooltip.removeClass( 'right' );

        if( pos_top < 0 )
        {
          var pos_top  = target.offset().top + target.outerHeight();
          tooltip.addClass( 'top' );
        }
        else
          tooltip.removeClass( 'top' );

        tooltip.css( { left: pos_left, top: pos_top } )
            .animate( { top: '+=10', opacity: 1 }, 50 );
      };

      init_tooltip();
      $( window ).resize( init_tooltip );

      var remove_tooltip = function()
      {
        tooltip.animate( { top: '-=10', opacity: 0 }, 50, function()
        {
          $( this ).remove();
        });

        target.attr( 'title', tip );
      };

      target.bind( 'mouseleave', remove_tooltip );
      tooltip.bind( 'click', remove_tooltip );
    });
  });

</script>






