<p id="notice"><%= notice %></p>

<% @products = Product.all %>

<h1>Produktübersicht</h1>


<table data-toggle="table" data-sort-name="userid" data-sort-order="desc" data-show-columns="true"  data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-pagination="true"
       class="customtable"
       data-toolbar="#toolbar"
       data-show-export="true"
       data-locale="de"
>
  <thead>
  <tr>
    <th data-field="id" data-sortable="true">ID</th>
    <th data-editable="true" data-field="picture" data-sortable="true">Bild</th>
    <th data-field="name" data-sortable="true">Name</th>
    <th data-field="price" data-sortable="true">Preis (€)</th>
    <th data-field="category" data-sortable="true">Kategorie</th>
    <th data-field="cooling" data-sortable="true">Kühlung</th>
    <th data-field="weight" data-sortable="true">Gewicht (g)</th>
    <th data-field="size" data-sortable="true">Volumen (l)</th>
    <th data-field="n1" data-sortable="false"></th>
    <th data-field="n2" data-sortable="false"></th>
    <th data-field="n3" data-sortable="false"></th>

  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.id %> </td>
        <td><%= image_tag product.picture, width: 20 %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.category %></td>
        <td><%= durability_to_text(product.durability) %></td>
        <td><%= product.weight.to_i %></td>
        <td><%= product.volume %></td>
        <td><%= link_to 'Anzeigen', product, 'data-turbolinks' => false %></td>
        <td><%= link_to 'Bearbeiten', edit_product_path(product) %></td>
        <td><%= link_to 'Löschen', demoversion_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>




<%= link_to new_product_path do %>
    <div class="box" >
      <div class="box-icon" style="padding-left: 3px; padding-top: 5px"> <span class="fa fa-3x fa-plus"></span> </div>
      <div class="info">
        <h4 class="text-center"><%= "Neues Produkt anlegen" %></h4>
        <p><!-- PLATZHALTER FÜR MÖGLICHEN TEXT--></p>
      </div>
    </div>
<% end %>