
  <%
    if @product.discountprice != nil
  euro = @product.discountprice.to_s.split(".")[0]
  cent0 = @product.discountprice.to_s.split(".")[1]
  else
  euro = @product.price.to_s.split(".")[0]
  cent0 = @product.price.to_s.split(".")[1]
  end
  if cent0.length == 1
    cent = cent0 + "0"
  else
    cent = cent0
  end


  if @product.discountprice != nil
    euroo = @product.price.to_s.split(".")[0]
    cent0o = @product.price.to_s.split(".")[1]
    if cent0o.length == 1
      cento = cent0o + "0"
    else
      cento = cent0o
    end
  end


%>



<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">
      <%= image_tag @product.picture, :style => "max-width:100%;"  %>

    </div>
    <div class="col-xs-7" style="border-left:1px solid #9b9b9b;">
      <!-- Datos del vendedor y titulo del producto -->
      <h1><%= @product.name %></h1>
      <h5>Von <%= @product.brand %></h5>



      <!-- Precios -->
      <h6 class="title-price"><small></small></h6>
      <h1 style="margin-bottom:15px; font-size: 32px">

        <% if @product.discountprice != nil %>
            <span style="text-decoration: line-through"><%= euroo %>,<sup><%= cento %></sup></span>
            <span style="color: #d02814"><%= euro %>,<sup><%= cent %></sup> €</span>

        <% else%>
            <span class="cbp-pgprice"><%= euro %>,<sup><%= cent %></sup> €</span>
        <% end %>

      </h1>


      <div class="section" style="padding-bottom:20px;">
        <h4 style="margin-top:15px;">Anzahl</h4>
        <%= form_for(current_cart) do |f| %>
            <div class="section" style="background: transparent">
              <div>
                <div class="btn-minus" onclick="minus(<%= @product.id %>)"><span class="glyphicon glyphicon-minus"></span></div>
                <%= f.text_field :items, id: @product.id, value: 1 %>
                <div class="btn-plus" onclick="plus(<%= @product.id %>)"><span class="glyphicon glyphicon-plus"></span></div>
              </div>
            </div>
      </div>

      <div class="section" style="padding-bottom:20px;">
        <%= f.button "In den Warenkorb legen", id: 213123, name: "myid", value: @product.id.to_s + "-p", class: "btn btn-success", style: "margin-bottom: 10px;"  %>
      <% end %>

        <%= link_to additemtofavs_path(:myproduct => @product.id) do %>
            <% if current_customer.favorites != nil

                 if current_customer.favorites.split(",").include? @product.id.to_s %>
                    <button class="btn btn-success"> Aus den Favoriten entfernen</button>
                <% else %>
                    <button class="btn btn-success"> Als Favoriten speichern</button>
                <% end %>
            <% else %>
                <button class="btn btn-success">Als Favoriten speichern</button>
            <% end %>
        <% end %>

        </div>


        <div class="section" style="background: white; margin: 3px"></div>

        <div class="section" style="padding-bottom:20px;">
          <h3 style="margin-top:15px;">Eigenschaften </h3>
          <h4 style="margin-top:15px;">Gewicht: <%= @product.weight.to_i %> g </h4>
          <h4>Bio:

            <% if @product.bio? %>
              <div class="box-icon" style="height: 24px; width: 24px; margin: 0; display: inline-table; padding-right: 1px"> <span class="fa fa-1x fa-check"></span> </div>
            <% else %>
                <div class="box-icon" style="height: 24px; width: 24px; margin: 0; display: inline-table; padding-right: 0px"> <span class="fa fa-1x fa-times"></span> </div>
            <% end %>
          </h4>
          <h4 >Vegan:
            <% if @product.vegan? %>
                <div class="box-icon" style="height: 24px; width: 24px; margin: 0; display: inline-table; padding-right: 1px"> <span class="fa fa-1x fa-check"></span> </div>
            <% else %>
                <div class="box-icon" style="height: 24px; width: 24px; margin: 0; display: inline-table; padding-right: 0px; background: rgba(203, 38, 0, 0.87)"> <span class="fa fa-1x fa-times"></span> </div>
            <% end %>

          </h4>
          <h4 style="margin-top:15px;">Kühlung: <%= durability_to_text(@product.durability.to_i) %></h4>
          <h4 style="margin-top:15px;">Kategorie: <%= @product.category %></h4>
          <h4 style="margin-top:15px;">Volumen: <%= @product.volume %> Liter</h4>


        </div>

        <h6  style="margin-bottom:15px;" ></h6>


        </li>
    </div>





      <div class="col-xs-11">
        <ul class="menu-items">
          <h3> Verfügbarkeit </h3>
        </ul>
        <div style="width:100%;border-top:1px solid silver">

          <p style="padding:0px;">


        <div class="storeslist">
        <ul>

          <%
          @stores = Store.all

            @stores.each do |store|

              if Stock.where("product_id = ? AND store_id = ? AND stock = ?", @product.id, store.id, true).exists?  %>

                  <%= link_to store do %>

                <li>
                  <h3><%= store.name %></h3>
                <p style="margin-top: 3px"><%= store.zip %> <%= store.city %> <br> <%= store.street %></p>

                    </li>


      <% end %>


      <% end %>

           <% end %>

        </ul>

        </div>

        </p>

      </div>
    </div>
  </div>
</div>



  <script>

    function minus(id){

      value = document.getElementById(id).value;

      var now = value;
      if ($.isNumeric(now)){
        if (parseInt(now) -1 > 0){ now--;}
        $(document.getElementById(id)).val(now);
      }else{
        $(document.getElementById(id)).val("1");
      }
    }

    function plus(id){
      value = document.getElementById(id).value;

      var now = value;
      if ($.isNumeric(now)){
        $(document.getElementById(id)).val(parseInt(now)+1);
      }else{
        $(document.getElementById(id)).val("1");
      }
    }


  </script>