<header >

<nav class="navbar navbar-inverse navbar-fixed-top ">
  <div class="container">

    <% if logged_in? %>
    <%= link_to "E-GROCERY EUS", root_path, id: "logo" %>
        <% else %>
        <%= link_to "E-GROCERY EUS", root_path, id: "logo" %>

        <% end %>


      <ul class="nav navbar-nav navbar-right">




        <% if logged_in? %>


            <li class="hvr-underline-reveal"><%= link_to "Einkaufen", root_path, id: "navli" %></li>

            <li class="hvr-underline-reveal">
              <%= link_to text_with_badge('Warenkorb', if 1 != nil
                                                         20 else
                                                         nil
                                                       end), root_path, id: "navli"  %>
            </li>




            <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align: left;" id="navli">

                <%= "Daten" %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Bestellungen", root_path, 'data-turbolinks' => false %></li>
                <li><%= link_to "Touren", root_path, 'data-turbolinks' => false %></li>
                <li><%= link_to "Optimierungen", root_path, 'data-turbolinks' => false %></li>
                <li><%= link_to "Geschäfte", root_path, 'data-turbolinks' => false %></li>
                <li><%= link_to "Kunden", root_path, 'data-turbolinks' => false %></li>

              </ul>
            </li>


                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align: left;" id="navli">

                    <%= "Neu" %> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Vergleich", root_path %> </li>
                    <li><%= link_to "Bestellung", root_path %> </li>
                    <li><%= link_to "Generator", root_path %> </li>

                  </ul>
                </li>




                <% end %>


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="text-align: left;" id="navli">

                <%= gravatar_image_tag(current_user.email.gsub('spam', 'mdeering'), :alt => current_user.name, :gravatar => { :size => 30 , :default => 'https://cdn3.iconfinder.com/data/icons/faticons/32/user-01-512.png' , :include_size_attributes => false }) %>
                <%= current_user.name %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mein Profil", current_user %></li>
                <li><%= link_to "Einstellungen", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>

            <% else %>
            <li class="hvr-underline-reveal"><%= link_to "Log in", login_path, id: "navli" %></li>
        <% end %>


      </ul>

  </div>
</nav>

</header>